@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


header {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 2;
}

body {
  font-family: Noto Sans KR;
}

#topLogo img {
  width: 40px;
  margin-right: 20px;
  margin-top: 20px;
}

body section {
  margin: 20px 50px;
  
}

#about {
  margin-top: 130px;
}

#titlegreet h1{
  font-size: 40pt;
  font-weight: 500;
}

#profileimage img {
  width: 250px;
  border-radius: 30px;
  float: right;
  margin-top: 60px;
}

#introduction {
  margin-top: 500px;
  font-size: 13pt;
  font-weight: 300;
}

#projects h1 {
  font-size: 30pt;
  font-weight: 500;
  margin-bottom: 0;
}

#projects h2 {
  font-size: 15pt;
  font-weight: 500;
  margin-top: 5px;
  color: rgb(172, 172, 172);
}

#teamprojects {
  float: left;
  margin-top: 300px;
}

#teamprojects div {
  margin: 80px auto;
}

#teamprojects div h1 {
  font-size: 22pt;
  margin: 10px auto;
}

#teamprojects div h2 {
  font-size: 10pt;
  margin: 0 auto;
}

#teamprojects div p {
  font-size: 11pt;
  margin: 30px auto ;
}

#teamprojects img {
  border-radius: 30px;
  max-width: 500px;
}

#toyprojects {
  float: right;
  margin-top: 500px;
}

#project img {
  margin-top: 20px;
  right: 50px;
  width: 50%;
  border-radius: 20px;
  position: absolute;
}



#toyprojects {
  margin-top: 450px;
  float: right;
}

#toyprojects h2{
  float: right;
}

@media ( max-width: 1000px ) {
  #titlegreet h1 {
    font-size: 25pt;
    font-weight: 400;
  }

  #project img {
    width: 40%;
  }
}

@media ( max-width: 800px ) {
  #project div {
    float: none;
  }
  #project img {
    float: none;
    right: auto;
    position: relative;
    width: 100%;
    margin: 0 auto;

  }
}